{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
<aside class="sidebar">
    <div class="sidebar-c1">
        <div class="sidebar-icones">
            <img src="{% static 'images/icone1.png' %}" alt="">
        </div>
        <p>
            Editable Theme
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>

    <div class="sidebar-c2">
        <div class="sidebar-icones">
            <img src="{% static 'images/icone2.png' %}" alt="">
        </div>
        <p>
            Flat Design
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
    </div>

    <div class="sidebar-c3">
        <div class="sidebar-icones">
            <img src="{% static 'images/icone3.png' %}" alt="">
        </div>
        <p>
            Reach Your Audience
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
    </div>
</aside>

<main>
    <div class="main-texto">
        <p>
            Get Notified Of Any Updates!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, voluptas dolores sequi laborum
            voluptatum ex necessitatibus assumenda aspernatur eaque suscipit veniam fuga. Quia aut maiores
            quisquam debitis reiciendis deleniti laudantium?
        </p>
        <div class="main-inputs">
            <input type="email" placeholder="Email Address" class="input-email">
            <input type="button" value="Notify" class="input-btn">
        </div>
    </div>

    <div class="main-video">
        <video width="450px" height="300px" controls>
            <source src="{% static 'video/movie.mp4' %}" type="video/mp4">
        </video>
    </div>
</main>

<section>
    <div class="section-conteudo">
        <p>
            <i>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quos natus exercitationem vel
                illo illum tenetur explicabo possimus facere sequi. Accusantium adipisci molestiae maxime
                perspiciatis, ipsum ipsam fuga illo commodi."</i>
        </p>
        <p>
            Jane Hunt
        </p>
        <div class="section-img">
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>
            <div class="section-img2">
                <img src="{% static 'images/pessoa1.jpg' %}" alt="">
            </div>

        </div>

        <p>
            Say Hi & Get in Touch
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
        </p>

        <div class="section-icons">
            <div class="section-icons2">
                <div class="icon-twitter">
                    <img src="{% static 'images/icons8-twitter-48.png' %}" alt="">
                </div>

                <div class="icon-facebook">
                    <img src="{% static 'images/icons8-facebook-f-48.png' %}" alt="">
                </div>

                <div class="icon-pinterest">
                    <img src="{% static 'images/icons8-pinterest-48.png' %}" alt="">
                </div>

                <div class="icon-google">
                    <img src="{% static 'images/icons8-google-plus-48.png' %}" alt="">
                </div>

                <div class="icon-linkedin">
                    <img src="{% static 'images/icons8-linkedin-2-48.png' %}" alt="">
                </div>

                <div class="icon-yt">
                    <img src="{% static 'images/icons8-youtube-48.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}